:root:root {
  --van-tabbar-background: var(--color-background);
  --van-tabbar-item-text-color: var(--color-text);
  --van-tabbar-item-active-color: var(--color-text);
  --van-tabbar-item-active-background: var(--color-background);
  --van-tabbar-height: var(--height-tabbar);
  --van-tabbar-item-icon-size: var(--icon-size-tabbar-item);

  --van-cell-text-color: var(--color-text);
  --van-cell-background: var(--color-background);

  --van-field-label-color: var(--color-text);

  --van-nav-bar-background: var(--color-background);
  --van-nav-bar-arrow-size: 20px;
  --van-nav-bar-icon-color: var(--color-text);
  --van-nav-bar-text-color: var(--color-text);
  --van-nav-bar-title-font-size: 20px;
  --van-nav-bar-height: 50px;
}
