:root:root {
  --van-tabbar-background: var(--color-background);
  --van-tabbar-item-text-color: var(--color-text);
  --van-tabbar-item-active-color: var(--color-text);
  --van-tabbar-item-active-background: var(--color-background);
  --van-tabbar-height: var(--height-tabbar);
}
