:root {
  --color-text: #f5f5f5;
  --color-background: black;

  --line-height: 1.6;

  --padding-body: 1rem;

  --height-navbar: 4rem;
  --font-weight-navbar: 600;
  --font-size-navbar: 1.8rem;

  --height-tabbar: 4rem;
  --icon-size-tabbar-item: 1.8rem;

  --red-gradient: linear-gradient(#ff0000, #ff7f7f);

  --post-padding: 1rem;
  --post-content-min-height: 3rem;
  --post-border-width: 0.1rem;
  --post-border-color: rgb(57, 102, 146);
  --post-border-radius: 0.5rem;
  --post-padding: 1rem;

  --sent-message-background-color: rgb(220, 86, 95);
  --received-message-background-color: rgb(44, 44, 44);
}
